# set here the datasource settings
# NB: not the most secure
spring.datasource.url=jdbc:{{ db_editor }}://{{ db_host }}:{{ db_port }}/{{ db_name }}
spring.datasource.username={{ db_user }}
spring.datasource.password={{ db_password }}
